<footer class="footer bg-dark mt-auto">
    <div class="container text-muted p-5 ">
        
        <p><span>Gladiris Technologies</span>
            <span>Invoice Generator</span>
        </p>
    </div>
</footer>
