<% layout('layouts/boilerplate') %>
    <div class="jumbotron hero"> 
        <div class="container">
            
            <span class="col-6">
                <h1 class="display-1">
                    Free Invoice generator
                </h1>
                <h3 class="display-4">
                    Invoices now made easy.
                </h3>
                <h3>
                    Sing up for the free and handle all your invoices
                </h3>
                <button type="button" class="btn btn-outline-dark">Sign Up</button>
            </span>
        
  


        </div>
    </div>
    <style>
        .jumbotron{
            background-color: #D4D4D4;
            padding: 2rem;
        }
    </style>
