<% layout('layouts/boilerplate') %>

<h1>
    <%= user.username%>
</h1>
<h1>
    <%= user.email%>
</h1>
<h1>
    <%= user.phone%>
</h1>

<form action="/login" method="POST" class="validated-form" novalidate>
    <div class="mb-3" hidden>
        
        <input class="form-control" type="text" id="username" name="username" value="<%=user.username%>" required>
       
    </div>
    
    <div class="mb-3" hidden>
        
        <input class="form-control" type="password" id="password" name="password" value="12345" required>
        
    </div>
    <button class="btn btn-success" type="submit">Next</button>
  </form>
