<% layout('layouts/boilerplate') %>
    <div class="container">

  
        <h1>
            ALL INVOICES
        </h1>
        <div class="m-2">
            <a href="/invoice/new" class="btn btn-outline-info">Create New Invoice</a>

           
        </div>
       
        <div class="m-3">
            <div class="row">
            <% for (let invoice of user.invoices ){%>
                
                    <div class="col-lg-4 col-md-6 my-3">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title"><%= invoice.First_name%> <%= invoice.Last_name%></h5>
                              <h6 class="card-subtitle mb-2 text-muted"><%= invoice.city%></h6>
                              <a href="/invoice/<%=invoice._id%>" class="btn btn-outline-success">View Client Details</a>
                            </div>
                        </div>
                    </div>
               
               
                <% }%>
            </div>
        </div>
    </div>