<% layout('layouts/boilerplate') %>
        <h1>enter the Client details</h1>
        
    <div class="container">
        <form action="/invoice" method = "POST" class="row g-3 m-4 validated-form" novalidate>

            <div class="col-md-6">
                <label for="First name" class="form-label">First name</label>
                <input type="text" class="form-control" name="invoice[First_name]"  aria-label="First name" required>
                <div class="invalid-feedback">
                  Please provide your First name.
                </div>
              </div>

              <div class="col-md-6">
                <label for="Last name" class="form-label">Last name</label>
                <input type="text" class="form-control" name="invoice[Last_name]"  aria-label="First name" required>
                <div class="invalid-feedback">
                  Please provide your Last name.
                </div>
              </div>

            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control" name="invoice[Email]" id="inputEmail4" required>
              <div class="invalid-feedback">
                Please provide a valid email.
              </div>
            </div>

            <div class="col-md-6">
              <label for="inputContact" class="form-label">Contact Number</label>
              <input type="number" class="form-control" name="invoice[Contact]" id="inputnumber" required>
              <div class="invalid-feedback">
                Please provide a valid Mobile number.
              </div>
            </div>

            <div class="col-12">
              <label for="inputAddress" class="form-label">Address</label>
              <input type="text" class="form-control" id="inputAddress" name="invoice[Address]" placeholder="1234 Main St" required>
              <div class="invalid-feedback">
                Please provide a valid Address.
              </div>
            </div>

            
            <div class="col-md-6">
              <label for="inputCity" class="form-label">City</label>
              <input type="text" class="form-control" name="invoice[city]" id="inputCity" required>
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>

            <div class="col-md-4">
              <label for="inputState" class="form-label">State</label>
              <input type="text" class="form-control" name="invoice[state]" id="inputState" required>
              <div class="invalid-feedback">
                Please provide a valid State.
              </div>
            </div>

            <div class="col-md-2">
              <label for="inputZip" class="form-label">Zip</label>
              <input type="text" class="form-control" name="invoice[pincode]" id="inputZip" required>
              <div class="invalid-feedback">
                Please provide a valid pincode.
              </div>
            </div>

            
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Add Client</button>
            </div>
        </form>
    </div>
   
